---
import Layout from '../layouts/layout.astro'
import SearchBar from '../component/bar.astro'
---

<Layout>
  <main>
    <section>
      <SearchBar />
    </section>
    <section id='result'></section>
  </main>
</Layout>
