---
import Layout from '../layouts/layout.astro'
import SearchBar from '../component/bar.astro'
---

<Layout>
  <main id='main' class='container'>
    <SearchBar />
    <section
      id='result'
      x-data='{ show: false }'
      x-show='show'
      x-bind:class='show && "result-show"'
      x-on:set-show.window='show=$event.detail'
      x-cloak
    >
    </section>
  </main>
</Layout>

<style lang='scss'>
  #main {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    :global(section) {
      width: 100%;
    }
  }

  .result-show {
    margin-top: 80px;
    flex: 1;
  }
</style>
