---
import Layout from './layout.astro'

type Props = {
  title: string
  message: string
}

const { title, message } = Astro.props
---

<Layout title={title} description={message}>
  <main class='container'>
    <h1>{title}</h1>
    <p>{message}</p>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
  }
</style>
